html, body {
    scroll-behavior: smooth;
}
h1{
    color: blueviolet;
}
h2 {
    background: lightgreen;
}
h3{
    background: yellow;
    color: turquoise;
}
#mg{
    color: red;
}
.lsMag{
    color: hotpink;
}
#br{
    color: purple;
}
#hm{
    color: blue;
}
p{
    color: #6047ee;
}
.pict {
    width: 350px;
}